<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/style.css">
    <title>HackerBook - {{ html .Name }}</title>
    <link rel="shortcut icon" type="image/png" href="/web/favicon.png" />
    <script src="/web/jquery-3.3.1.js"></script>
    <script src="/web/login.js"></script>
    <script src="/web/topic.js"></script>
</head>
<body>
    <script>tryCookieLogin();</script>
    <div id="login" class ="login">
        <form action="JavaScript:handleLogin()">
            Username:
            <input id="usernameInput" type="text" name="username" value="">
            Password:
            <input type="password" name="password" value="">
            <input type="button" onClick="handleLogin(this.form)" value="login">
        </form>
        No account yet?
        <form  action="/signup">
            <input type="submit" value="Sign up!"></input>
        </form>
    </div>
    <p id="loginMessage"></p>
    <h1 class="center"><a href="/">HackerBook v2A.h</a></h1>
    <h2 class="center">{{ html .Name }}</h2>
    <div class="center">
        <div id="postNewTopic" class="postNewTopic">
            <form action="JavaScript:postTopic()">
                Title:</br>
                <input id ="topicTitle" type="text" name="title" value="">
                </br>Post:</br>
                <textarea id="topicText" name="topicInput" cols="80" rows="10"></textarea>
                <input type="button" onClick="postTopic(this.form)" value="Post Topic">
            </form>
            <p id="postedTopicMessage"></p>
        </div>
        <input type="button" onClick="postTopicVisible()" value="Create new topic">
        <hr size="1">
            {{range $i, $t := .Topics}}
                <div class="noPad" style="background-color: #{{with $o := mod $i 2}}{{if eq $o 0}}000{{else}}222{{end}}{{end}};">
                <h2 class="noPad"><a href="/r/{{ $.Name }}/{{ $t.Id.Hex }}#{{with $x := urlquery $t.Title}}{{ printf "%.25s" $x }}{{end}}">{{ html $t.Title }}</a></h2>
                </br>
                <h4 class="noPad"><i>{{with $x := $t.Content | printf "%.80s"}}{{ html $x }}{{$y:=len $t.Content}}{{if gt $y 80}}...{{end}}{{end}}</i></h4>
                </br>
                <h5 class="noPad">{{ len $t.Comments }} Comments</h5>
                <h5 class="noPad">by {{ $t.Username }}</h5>
                <hr size="1">
            </div>
            {{end}}
    </div>
</body>
</html>
