body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Digital_rain_animation_small_letters_shine.gif);
    background-repeat: repeat;
}
p, h1, h2, h3, h4, h5, div {
    color: lawngreen;
    font-family: Consolas,monaco,monospace;
}

pre {
    background-color: #222;
}
div.topic pre code,
div.topic code,
code {
    font-family: Courier;
    color: greenyellow;
    font-weight: bolder;
}

div.topic * {
    color: #efe;
}

h1 a{
    color: lawngreen;
}

h1 a:visited{
    color: lawngreen;
}

h1 a:hover{
    color: greenyellow;
}


div.comment{
    font-size: 13px;
}
div.topic{
    font-size: 24px;
}

div.login{
    display: none;
}

div.postNewTopic{
    display: none;
}

div.center {
    margin: auto;
    width: 50%;
    border: 1px solid lawngreen;
    background-color: black;
    padding-left: 10px;
    padding-right: 0px;
}

div.g-recaptcha{
    margin: auto;
    width: 5%;
    align-content: center;
}
h1.center, h2.center, h3.center, h4.center, h5.center {
    text-align: center;
}
h1.noPad, h2.noPad, h3.noPad, h4.noPad, h5.noPad {
    margin: 0px;
    padding: 0px;
}
div.comment{
    margin: auto;
    border: 1px solid lawngreen;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;

}

div.admin{
    display: none;
}
input, textarea {
    background-color: black;
    color: lawngreen;
    border: 1px solid lawngreen;
}
form.signUp {
    text-align: right;
    width: 60%;
}
input {
    margin-left: 1em;
    display: inline-block;
}
