body {
    background-color: black;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Digital_rain_animation_small_letters_shine.gif);
    background-repeat: repeat;
}
p, h1, h2, h3, h4, h5, div {
    color: lawngreen;
    font-family: Consolas,monaco,monospace;
}

div.topic * {
    color: #dfe;
}
pre {
    background-color: #222;
}

code {
    font-family: Courier;
    color: #09f;
    font-weight: bolder;
}

h1 a{
    color: lawngreen;
}

h1 a:visited{
    color: lawngreen;
}

h1 a:hover{
    color: greenyellow;
}


div.comment{
    font-size: 13px;
}
div.topic{
    font-size: 24px;
}

div.login{
    display: none;
}

div.postNewTopic{
    display: none;
}

div.center {
    margin: auto;
    width: 50%;
    border: 1px solid lawngreen;
    background-image: radial-gradient(#222, #111, #000);
    padding-left: 10px;
    padding-right: 0px;
}

div.g-recaptcha{
    margin: auto;
    width: 5%;
    align-content: center;
}
h1.center, h2.center, h3.center, h4.center, h5.center {
    text-align: center;
}
h1.noPad, h2.noPad, h3.noPad, h4.noPad, h5.noPad {
    margin: 0px;
    padding: 0px;
}
div.comment{
    margin: auto;
    border: 1px solid lawngreen;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

div.admin{
    display: none;
}
input, textarea {
    background-color: black;
    color: lawngreen;
    border: 1px solid lawngreen;
}
textarea {
    resize: vertical;
}
form.signUp {
    text-align: right;
    width: 60%;
}
input {
    margin-left: 1em;
    display: inline-block;
}

.replyRef {
    display: block;
}
.commentInfo {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
 background-color: #222;
 color: #dfe;
 cursor: pointer;
 padding: 4px;
 margin: 13px 0px;
 width: 100%;
 border: 1px solid #d1d5da;
 border-radius: 3px;
 text-align: left;
 outline: none;
 font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color: #444;
}

/* Style the collapsible content. Note: hidden by default */
.content {
 padding: 15px 15px;
 margin: -13px 2px 15px 2px;
 display: none;
 border: 1px solid #0f0;
 border-top: 0px;
 border-radius: 0 0 10px 10px;
 overflow: hidden;
 background-color: #222;
}
