<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/style.css">
    <title>{{ html .Name }} - {{ html .Topic.Title }}</title>
    <script src="/web/jquery-3.3.1.js"></script>
    <script src="/web/login.js"></script>
    <script src="/web/comment.js"></script>
    <link rel="shortcut icon" type="image/png" href="/web/favicon.png" />
</head>
<body>
    <script>tryCookieLogin();</script>
    <div id="login" class ="login">
        <form action="JavaScript:handleLogin()">
            Username:
            <input id="usernameInput" type="text" name="username" value="">
            Password:
            <input type="password" name="password" value="">
            <input type="button" onClick="handleLogin(this.form)" value="login">
        </form>
        No account yet?
        <form  action="/web/signup.html">
            <input type="submit" value="Sign up!"></input>
        </form>
    </div>
    style:
    <p id="loginMessage"></p>
    <h1 class="center"><a href="/">HackerBook v2A.h</a></h1>
    <h1 class="center"><a href="/r/{{ .Name }}">{{ html .Name }}</a></h1>
    <div class="center">
        <div class="topic" id={{with $x := urlquery .Title}}{{ printf "%.25s" $x }}{{end}}>
            <h2 class="noPad">{{ html .Topic.Title }}</h2>
            <h5 class="noPad">By <i>{{ html .Topic.Username }}</i></h5>
            <p>{{ .Topic.Content | markdown }}</p>
        </div>
        {{ range $i, $c := .Topic.Comments }}
            <div class="comment" id={{with $x := urlquery $c.Text | printf "%.30s"}}{{$y :=  urlquery $c.Username | printf "%.16s"}}{{$x}}+{{$y}}{{end}}>
                {{if gt $c.ReplyTo -1 }}
                    {{$r := index $.Topic.Comments $c.ReplyTo }}
                    <button class="collapsible">In response to <i>{{$r.Username}}</i>'s comment...</button>
                    <div class="content">
                        <a href=#{{with $x := urlquery $r.Text | printf "%.30s"}}{{$y :=  $r.Username | printf "%.16s"}}{{$x}}+{{$y}}{{end}}>Go to comment...</a>
                        <div class="comment">
                            <p>{{ $r.Text | markdown }}</p>
                            <div class="commentInfo"><span>— <i>{{ html $r.Username }}</i></span></div>
                        </div>
                    </div>
                {{end}}
            <p>{{ $c.Text | markdown }}</p>
            <div class="commentInfo"><span>— <i>{{ html $c.Username }}</i></div>
            <button class="collapsible">Reply...</button>
            <div class="content">
                <div id="postComment" class="postComment">
                    <form action="JavaScript:postComment()">
                        Comment:</br>
                        <textarea id="commentInput" name="commentInput" cols="120" rows="10"></textarea>
                        <input type="button" onClick="postComment(this.form,{{$i}})" value="Post Comment">
                    </form>
                    <p id="commentMessage-{{$i}}"></p>
                </div>
            </div>
            </div>
        {{ else }}
            <div class="comment">
                <p>nobody has made a comment to this topic yet, be the first!</p>
            </div>
        {{ end }}
        <div id="postComment" class="postComment">
            <form action="JavaScript:postComment()">
                Comment:</br>
                <textarea id="commentInput" name="commentInput" cols="127" rows="10"></textarea>
                <input type="button" onClick="postComment(this.form)" value="Post Comment">
            </form>
            <p id="commentMessage--1"></p>
        </div>
    </div>
</body>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</html>
